<!-- <footer class="footer bg-dark py-2 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; YelpCamp</span>
    </div>
</footer> -->
<footer>
    <div class="footer-wrapper">
      <img src="https://upload.wikimedia.org/wikipedia/commons/8/8a/Zomato_Logo.png" style="height: 120px; width: 120px; margin-left: 90px; margin-top:30px ;">     
        
<select name="" class="footer-nav">
      <option value=""><a class="item" href="#">Mumbai</a></option>
  <option value=""><a class="item" href="#" >Pune</a></option>
      <option value=""><a class="item" href="#" >Sangali</a></option>
      <option value=""><a class="item" href="#" >Satara</a></option>
      <option value=""><a class="item" href="#" >Kolhapur</a></option>
      <option value=""><a class="item" href="#" >Panjab</a></option>
     <option value=""><a class="item" href="#" >Delhi</a></option>
      <option value=""><a class="item" href="#" >Bangalore</a></option>
      <option value=""><a class="item" href="#" >Chennai</a></option>
      <option value=""><a class="item" href="#" >Hydrabad</a></option>
    </select>
   
    
    <div class="container">
        <div class="row">
          <div class="col-sm">
            <ul class="column">
                <h4>COMPANY</h4>
                <li>Who We Are</li>
                <li>Blog </li>
                <li>Careers </li>
                <li>Report</li>
              </ul>
          </div>
          <div class="col-sm">
            <ul class="column">
                <h4>FOR FOODIES</h4>
                <li>Code of conduct</li>
                <li>Community</li>
                <li>Blogger help</li>
                <li>Mobile Apps</li>
                </ul>
          </div>
          <div class="col-sm">
            <ul class="column">
                <h4>FOR YOU</h4>
                <li>Privacy</li>
                <li>Terms</li>
                <li>Security</li>
                <li>Sitemaps</li>
              </ul>
          </div>
        </div>
      <div class="row">
        <div class="col-sm"> <ul class="column">
            <h4>FOR ENTERPRISES</h4>
            <li>Zomato for work</li>
            </ul></div>
        <div class="col-sm"> 
            <ul class="column">
                <h4>FOR RESTAURANTS</h4>
                <li>Add Restaurants</li>
                </ul>
        </div>
      </div>
         
   <div class="row"></div>
   <div class="col-12"> 
       <p style="color: white;">By continuing past this page, you agree to our Terms of Service, Cookie Policy, Privacy Policy and Content Policies. All trademarks are properties of their respective owners. 2008-2022 © Zomato™ Ltd. All rights reserved.</>
   </div>
   </div> 
</div>
    
      </footer>  